
<input type="checkbox" class="check push" id="checked-push">

<label class="switch push" for="checked-push"></label>
<div class="gatefold">
	<header class="header">
		<h1>ヘッダー</h1>
	</header>
	<main class="contents">
		<section class="contents__inner">

          <div class="example-button-row" style="width:100vw;text-align: center;">
            <div>
              <button mat-raised-button color="primary" style="margin: 20px;">地域グループへ行く！</button>
            </div>
            <div>
              <button mat-raised-button color="accent" style="margin: 20px;">schedule</button>
            </div>
            <div>
              <button mat-raised-button color="warn" style="margin: 20px;">展示室へGo!</button>
            </div>
            <div>
              <button mat-raised-button  style="margin: 20px;">グッズ販売会場へGo!</button>
            </div>


            <div>
            </div>
          </div>
		</section>
	</main>
	<footer class="footer">
		<p>フッター</p>
	</footer>
</div>
