<div class="contents-wrap">
  <div class="card-container">
    <!--これで一つの記事-->
      <div class="content">
        <div class="article">
          <a id="article__url" href="#">
            <div class="content_photo">
              <img src="../../assets/images/main-dance.png">
            </div>
            <div class="text_content">
              <p class="read_text">TOKYO ゼロ高生徒ver</p>
              <div class="read">
                <p class="read_place">演者:Satone,Kohana,Mion,Ryota,+</p>
                <p class="read_date">説明:Tokyo踊ってみた</p>
              </div>
            </div>
          </a>
        </div>
      </div>

    <!--これで一つの記事-->
    <div class="content">
      <div class="article">
        <a id="article__url" href="#">
          <div class="content_antetsu">
            <img src="../../assets/images/contents-antetsu.png">
          </div>
          <div class="text_content">
            <p class="read_text">あんてつ|プレゼン</p>
            <div class="read">
              <p class="read_place">担当者:安藤てつろう(0期生)</p>
              <p class="read_date">説明:俺の目指す社会を語ろうか。今日ここで</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--これで一つの記事-->
    <div class="content">
      <div class="article">
        <a id="article__url" href="#">
          <div class="content_photo">
            <img src="../../assets/images/main-music.png">
          </div>
          <div class="text_content">
            <p class="read_text">ゼロ高生作オリジナル曲</p>
            <div class="read">
              <p class="read_place">担当者:ゼロ高祭音楽部隊,リーダー:夕永先輩</p>
              <p class="read_date">説明:作曲したことないみんなで作曲しました！</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
