<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="../../assets/images/buy-book.jpg" class="bd-placeholder-img w-100" width="100%" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Generic placeholder image">
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h5 class="mt-0">「将来の夢なんか、いま叶えろ。」好評発売中！</h5>
    <p>【遊ぶことと生きることが同義になる時代が、すぐそこまでやってきている。遊びに夢中になろう！！】

      新しい学びの船「ゼロ高」に乗り遅れるな！</p>
    <a href="https://www.amazon.co.jp/gp/aw/d/4788928361/ref=tmm_hrd_title_0?ie=UTF8&qid=1604060229&sr=8-1" class="stretched-link">買いに行く！</a>
  </div>
</div>

<div sytle="margin:100px;">
</div>

<!--1つのshop-->
<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="../../assets/images/shop-keybord.png" class="bd-placeholder-img w-100" width="100%" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Generic placeholder image">
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h5 class="mt-0">キーボード</h5>
    <p>ゼロ高生である「かんべ　たくみ」君の自作キーボードはこちらです！</p>
    <a href="https://yushakobo.jp/shop/consign_arabica3-7/?fbclid=IwAR2UgizCnnfpTnb_fFaySxX5_XnyW_I7uAf1QUEMdw5NNkZUQwX0qRhpjZc" class="stretched-link">買いに行く！</a>
  </div>
</div>

<div sytle="margin:100px;">
</div>

<!--1つのshop-->
<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="../../assets/images/shop-pinapos.png" class="bd-placeholder-img w-100" width="100%" height="200" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Generic placeholder image">
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h5 class="mt-0">「将来の夢なんか、いま叶えろ。」好評発売中！</h5>
    <p>ゼロ高生である「高橋　いっさ」君のアパレルブランド「パイナポーズ」はこちらです！</p>
    <a href="https://pineapples81.thebase.in/?fbclid=IwAR08gB_rCk37qGqQ-OKIn_2SwUI1EALFNaABklHmJXDzl5NVRqjfnL6_Wyw" class="stretched-link">買いに行く！</a>
  </div>
</div>
