<div class="wrap">

  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-1.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-2.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-3.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-4.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-5.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-6.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-7.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-8.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-9.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-10.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-11.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-12.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-13.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-14.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-15.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-16.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-17.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-18.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-19.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-20.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-21.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-22.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-23.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-24.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-26.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-27.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-28.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-29.jpg" alt="" >
  </div>
  <!--card-->
  <div class="introduction__card">
    <img src="../../assets/images/student-30.jpg" alt="" >
  </div>

</div>
