<!--START THE MAIN CONTAINER-->
<div class='box_container'>

  <!--START THE IMAGE PARTS HOLDER-->
  <div class='images_holder'>

      <!--INSERT THE SAME IMAGE IN 2 DIVS, THEY BOTH HAVE image_div CLASS AND left OR right CLASS DEPENDING ON POSITION-->
      <div class='image_div left'><img class='box_image' src='../../../assets/images/door-show.png' style='width:108px;height: 216px;'/></div>
      <div class='image_div right'><img class='box_image' src='../../../assets/images/door-show.png' style='width:108px;height: 216px;'/></div>

      <!-- WE USED CSS FLOAT PROPERY, SO WE NEED TO CLEAR NOW-->
      <div class='clear'></div>

  </div>
  <!--END THE IMAGE PARTS HOLDER-->

  <!--START THE TEXT-->
  <!--END THE TEXT-->

</div>
<!--END THE MAIN CONTAINER-->

