<div class="contents-wrap">
  <div class="card-container">
    <!--これで一つの記事-->
      <div class="content">
        <div class="article">
          <a id="article__url" href="https://us04web.zoom.us/j/76224500551?pwd=YVJua3Z3dXFCamtVTURUaVBKUU9Udz09">
            <div class="content_photo">
              <img src="../../assets/images/contents-abroad.jpg">
            </div>
            <div class="text_content">
              <p class="read_text">留学経験者と話そう</p>
              <div class="read">
                <p class="read_place">担当者:白井さとね(1期生),朝田玄生(1期生)</p>
                <p class="read_date">説明:【留学あるある】留学を考えてる人は必見！</p>
              </div>
            </div>
          </a>
        </div>
      </div>

    <!--これで一つの記事-->
    <div class="content">
      <div class="article">
        <a id="article__url" href="https://us05web.zoom.us/j/84516060241?pwd=MUFYVnN4V2o1b3pzcGlGc01TajFpQT09">
          <div class="content_photo">
            <img src="../../assets/images/contents-skin.jpg">
          </div>
          <div class="text_content">
            <p class="read_text">美容講座</p>
            <div class="read">
              <p class="read_place">担当者:井出心咲(2期生)</p>
              <p class="read_date">説明:冬の乾燥対策、おすすめコスメをシェアしましょう。</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--これで一つの記事-->
    <div class="content">
      <div class="article">
        <a id="article__url" href="https://zoom.us/j/96297528801?pwd=dTdud1BlMnJtcnZwL1dhdlJvTE5TUT09">
          <div class="content_photo">
            <img src="../../assets/images/contents-bosai.png">
          </div>
          <div class="text_content">
            <p class="read_text">防災講座</p>
            <div class="read">
              <p class="read_place">担当者:髙岡秀弥(0期生)</p>
              <p class="read_date">説明:この状況下での防災！！知っておくべき事とは？</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--これで一つの記事-->
    <div class="content">
      <div class="article">
        <a id="article__url" href="https://us04web.zoom.us/j/76678319216?pwd=UEJtVWNzTTBwb0FNNG5sQ2hnaHdadz09">
          <div class="content_photo">
            <img src="../../assets/images/contents-pg.jpg">
          </div>
          <div class="text_content">
            <p class="read_text">イラスト講座</p>
            <div class="read">
              <p class="read_place">担当者:根元瑞樹(2期生),いけべみき(2期生)</p>
              <p class="read_date">説明:アプリibisPaintの使い方やイラストの描き方など。</p>
            </div>
          </div>
        </a>
      </div>
    </div>



  </div>
</div>
